$tablet-breakpoint: 700px;

$app-bg: #f8f8f8;
$app-black: #2b2b2b;
$primary: #f3e111;

$border-color: #eee;

$white: #fff;
$panel-header-bg: #eeeeee;

$menu-item-color: gray;
$menu-item-color_hover: black;

$gray-text: gray;

$layout-break: 800px;
