@import 'src/styles/all.scss';

.loader{
    @include flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;

    background-color: transparentize($color: #000000, $amount: .2);
}

::ng-deep router-outlet~* {
    position: absolute;
    width: 100%;
    height: 100%;
}