@import 'src/styles/all.scss';

.price-panel{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);

    &-title{
        padding: .5rem 1.5rem;
        background: $panel-header-bg;

        font: {
            weight: bold;
        }
    }

    &-content{
        max-height: 330px;
        overflow-y: auto;
    }
}